nav
  div(class="nav-wrapper blue-grey darken-4")
    a(href="/" class="brand-logo") 
      |J
      span &#x2605;
      |JHS
    a(href="#" class="button-collapse" data-activates="mobile-nav"): i(class="fa fa-bars")
    ul(class="right hide-on-med-and-down")
      li: a(href="projects") Projects
      li: a(href="http://www.linkedin.com/in/janejhshin/"): i(class="fa fa-lg fa-linkedin-square")
      li: a(href="http://jistarz.tumblr.com/"): i(class="fa fa-lg fa-tumblr-square")
      li: a(href="https://www.instagram.com/jistarz/"): i(class="fa fa-lg fa-instagram")
      li: a(href="https://twitter.com/jistarz"): i(class="fa fa-lg fa-twitter-square")
      li: a(href="mailto:mlle.jihshin@gmail.com"): i(class="fa fa-lg fa-envelope-o")
    ul(class="side-nav" id="mobile-nav")
      li: a(href="projects") Projects
      li: a(href="http://www.linkedin.com/in/janejhshin/") linkedin 
        i(class="fa fa-external-link right")
      li: a(href="http://jistarz.tumblr.com/") tumblr 
        i(class="fa fa-external-link right")
      li: a(href="https://www.instagram.com/jistarz/") instagram 
        i(class="fa fa-external-link right")
      li: a(href="https://twitter.com/jistarz") twitter 
        i(class="fa fa-external-link right")
      li: a(href="mailto:mlle.jihshin@gmail.com") email 
        i(class="fa fa-external-link right")