p(id="bg-img-src" class="blue-grey-text text-lighten-3")
  |image 
  a(class="blue-text text-lighten-3" href="http://subtlepatterns.com/one-in-a-million-s/") One in a million 
  |by 
  a(class="blue-text text-lighten-3" href="http://cargocollective.com/ignaudible") Ignasi Àvila Padró 
